{% include "header.html" %}
{% include "base.html" %}
{% include "base_bazasmsmenu.html" %}
{% block body %}
<div class="cards">
    <h2 class="header">
        Panel SMS
    </h2>
    <div class="services">
        <div class="content content-1">
            <div class="fa fa-phone" style="font-size:71px"></div>
            <h2>
                Email Kontrahent
            </h2>
            <p>
                Wysyłka sms do kontrahenta.
            </p>
            <a class="nav-link" href="{{ url_for('email_kontrahent') }}">Otwórz</a>
        </div>
        <div class="content content-2">
            <div class="fa fa-phone" style="font-size:71px"></div>
            <h2>
                Email Budynek
            </h2>
            <p>
                Wysyłka sms na budynek.
            </p>
            <a class="nav-link" href="{{ url_for('email_budynek') }}">Otwórz</a>
        </div>
    </div>
    <a class="btn btn-outline-secondary" href="{{ url_for('menu') }}" role="button">Powrót</a>
</div>
{% endblock %}