<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}Baza Telefonów</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
</head>
<body>
<div class="album py-5 bg-light">
    <div class="container">
            <div class="card shadow-sm">
                <div class="alert alert-primary" role="alert">Baza Telefonów - Administracja Centrume <a class="btn btn-outline-secondary" href="{{ url_for('paneltelefony_menu') }}" role="button">Powrót</a></div>
                <div class="card-body">
                    <table class="table table-hover" id="empTable">
                        <thead>
                        <tr>
                            <th>Indeks</th>
                            <th>Nazwa</th>
                            <th>Adres</th>
                            <th>Klatka</th>
                            <th>Telefon</th>
                            <th>Administracja</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
    </div>
</div>


{#<div class="col">#}
{#    <div class="card shadow-sm">#}
{#        <div class="alert alert-primary" role="alert"><a class="btn btn-outline-secondary" href="{{ url_for('paneltelefony_menu') }}" role="button">Powrót</a></div>#}
{#        <div class="card-body">#}
{#            <table class="table table-hover" id="empTable">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Indeks</th>#}
{#                    <th>Nazwa</th>#}
{#                    <th>Adres</th>#}
{#                    <th>Klatka</th>#}
{#                    <th>Telefon</th>#}
{#                    <th>Administracja</th>#}
{#                </tr>#}
{#                </thead>#}
{#            </table>#}
{#            <div class="d-flex justify-content-between align-items-center">#}
{#                <div class="btn-group">#}
{#                <!--<a href="details_2316.html" class="btn btn-outline-warning">Szczegóły</a>-->#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<script>
$(document).ready(function() {
    var empDataTable = $('#empTable').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/ajaxfilece'
                },
                'lengthMenu': [[10, 15, 25, 50, -1], [10, 15, 25, 50, "All"]],
                searching: true,
                sort: false,
                "serverSide": true,
                'columns': [
                    { data: 'indeks' },
                    { data: 'nazwakarty' },
                    { data: 'adresKarty' },
                    { data: 'klatkaSchodowa' },
                    { data: 'telefon' },
                    { data: 'administracja' },
                ],
                                      "language": {
                "decimal":        "",
                "emptyTable":     "Brak danych",
                "info":           "Pokaż _START_ do _END_ z _TOTAL_ kontrahentów",
                "infoEmpty":      "Pokaż 0 to 0 of 0 kontrahentów",
                "infoFiltered":   "(przeszukano w _MAX_ kontrahentach)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Pokaż _MENU_ kontrahentów",
                "loadingRecords": "Ładowanie...",
                "processing":     "Przetwarzanie...",
                "search":         "Szukaj:",
                "zeroRecords":    "Nie ma takiego indeksu/nazwiska ",
                "paginate": {
                    "first":      "Pierwszy",
                    "last":       "Ostatni",
                    "next":       "Następny",
                    "previous":   "Poprzedni"
                },
                "aria": {
                    "sortAscending":  ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
            });
});
</script>

</body>
</html>