{% include "header.html" %}
{% include "base.html" %}
{% block body %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="card shadow-sm">
            <div class="alert alert-primary" role="alert"><a class="btn btn-outline-secondary" href="{{ url_for('panelsms_menu') }}" role="button">Powrót</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Jak wysłać sms
                </button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Reguły</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            WAŻNE! <br>
                            Proszę o wpisywanie treści wiadomości SMS z klawiatury.<br><br>
                            <b>Kopiowanie tekstu (np. z edytorów tekstowych)</b> skutkować może błędnym wysłaniem wiadomości lub naliczeniem większej liczby znaków z powodu konfliktu kodowania.<br>
                            <br>
                            <p>Znaki ^ { } [ ] ~ \ | € liczone są podwójnie (w przypadku wysyłania wiadomości bez znaków specjalnych) ze względu na wymogi specyfikacji GSM.</p>
                            <br>
                            SMS max - 160 znaków
                            <br><br>
                            <b>Proszę nie używać znaków diakrytycznych (ą, ć, ę, ł, ń, ó, ś, ź, ż. )</b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover" id="empTable">
                    <thead>
                    <tr>
                    <th>Zaznacz</th>
                    <th>idBudynek</th>
                    <th>Indeks Budynku</th>
                    <th>Symbol Osiedla</th>
                    <th>Ulica</th>
                    <th>Symbol Niieruchomości</th>
                    <th>Numery</th>
                </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<section class="h-100">
    <div class="container h-100">
        <form class="form-horizontal" action="{{ url_for('sms_modraczek') }}" method="post">
            <div id="container">
                <label for="phone">Telefon: </label>
                <input type="text" class="form-control" id="phone" name="phone">
            </div>
            <div class="form-floating">
                <label for="content">Treść: </label>
                <div id="the-count">
                    <span>Ilość znaków: </span>
                <span id="current">0</span>
                <span id="maximum">/ 160</span>
                </div>
                <textarea class="form-control" rows="5" id="content" name="content" maxlength="160">
                </textarea>
            </div>
            <button type="reset" class="btn btn-primary">Wyczyść formularz</button>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</section>
<script>
$(document).ready(function() {
    var rows_selected = [];
    var empDataTable = $('#empTable').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/ajaxfilepanelsms_modraczek'
                },
                'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                searching: true,
                sort: false,
                "serverSide": true,
                'columns': [
                    { data: 'test' },
                    { data: 'idBudynek' },
                    { data: 'SymbolBudynku' },
                    { data: 'SymbolOsiedla' },
                    { data: 'Ulica' },
                    { data: 'SymbolNieruchomosci' },
                    { data: 'Numery' },
                ],
                columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
                    } ],
                    select: {
                        style:    'os',
                        selector: 'td:first-child',
                    },
                    order: [[ 1, 'asc' ]],

                "language": {
                "decimal":        "",
                "emptyTable":     "Brak danych",
                "info":           "Pokaż _START_ do _END_ z _TOTAL_ budynków",
                "infoEmpty":      "Pokaż 0 to 0 of 0 budynków",
                "infoFiltered":   "(przeszukano w _MAX_ budynkach)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Pokaż _MENU_ budynków",
                "loadingRecords": "Ładowanie...",
                "processing":     "Przetwarzanie...",
                "search":         "Szukaj:",
                "zeroRecords":    "Nie ma takiego indeksu ",
                "paginate": {
                    "first":      "Pierwszy",
                    "last":       "Ostatni",
                    "next":       "Następny",
                    "previous":   "Poprzedni"
                },
                "aria": {
                    "sortAscending":  ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
            });
});

$('textarea').keyup(function() {

  var characterCount = $(this).val().length,
      current = $('#current'),
      maximum = $('#maximum'),
      theCount = $('#the-count');

  current.text(characterCount);


  /*This isn't entirely necessary, just playin around*/
  if (characterCount < 70) {
    current.css('color', '#666');
  }
  if (characterCount > 70 && characterCount < 90) {
    current.css('color', '#6d5555');
  }
  if (characterCount > 90 && characterCount < 100) {
    current.css('color', '#793535');
  }
  if (characterCount > 100 && characterCount < 120) {
    current.css('color', '#841c1c');
  }
  if (characterCount > 120 && characterCount < 139) {
    current.css('color', '#8f0001');
  }

  if (characterCount >= 140) {
    maximum.css('color', '#8f0001');
    current.css('color', '#8f0001');
    theCount.css('font-weight','bold');
  } else {
    maximum.css('color','#666');
    theCount.css('font-weight','normal');
  }


});
</script>
{% endblock %}
